// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper-grey {
  background-color: #FCFCFC;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px #a8a8a8;
  line-height: 1em;
  margin: 20px 0px;
}
